GODADDY_API_KEY="insert key here"
GODADDY_API_SECRET="insert secret here"
GODADDY_POLLING_INTERVAL=300
GODADDY_PROPAGATION_TIMEOUT=1200
GODADDY_TTL=600
GODADDY_HTTP_TIMEOUT=600
LEGO_DISABLE_CNAME_SUPPORT=true
